body{
    /* background-image: url("bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.palabiKoi{
    color: green;
    width: 30%;
}
.khaici{
    background-color: pink;
    color:black;
    width: 80%;
}
.niceBox{
    width: 400px;
    height: 250px;
    background-color: rgba(39, 82, 72, 0.678);
    border-radius: 50px 0px 40px 0px;
}